<div *ngIf="Employee$ | async as employee; else loading">
    <h1>{{ employee.firstName }} {{ employee.lastName }}</h1>
    <p>Email: {{ employee.email }}</p>
    <p>Phone: {{ employee.phoneNumber }}</p>
  </div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
  
  <form (ngSubmit)="addEmployee(employeeForm.value)" #employeeForm="ngForm">
    <input type="text" name="firstName" ngModel>
    <input type="text" name="lastName" ngModel>
    <input type="email" name="email" ngModel>
    <input type="text" name="phoneNumber" ngModel>
    <button type="submit">Add Employee</button>
  </form>
  
